img{
    height: 150px;
}

.contenedor{
    background-color: rgb(165, 177, 173);
    height: 600px;
    width: 600px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-line, .second-line, .third-line {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
    height: 150px; 
    margin: 5px;
    padding: 5px;
    border-style:dotted; 
    border-color: rgb(167, 166, 166); 
}

.first-line{
    background-color: rgb(252, 253, 253);
}

.second-line{
    background-color: rgb(2, 92, 29);   
    margin: 10px 0;  
}

.third-line{
    background-color: rgb(139, 41, 90);
}

h1{
    font-style: italic;
    font-size:40px;
    color: rgb(63, 63, 107);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px black solid;
    margin-bottom: 0px; 
}

h5{
   margin-top: 10px;
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(49, 85, 117);
}